<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GAMES</title>
    <link rel="stylesheet" href="static\style.css">

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/library">Library</a></li>
            <li><a href="/add">Add</a></li>

        </ul>
    </nav>
    
    <form id="form">
        <label for="name">Name: </label>
        <input type="text" id="name"><br>
        <label for="rate">Rating:</label>
        <input type="text" id="rate"><br>
        <label for="year">Release Year:</label>
        <input type="text" id="year"><br>
        <label for="file" >File: </label>
        <input type="file" accept="image/png">
        <button id="submit">Submit</button>
    </form>
</body>
<script src="/static/add.js"></script>
</html>