{% extends "layout.html" %}
{% block body %}
<form action="/add" method="post" enctype="multipart/form-data" id="game_info">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name"><br>
    <label for="rate">Rating:</label>
    <input type="text" id="rate" name="rate"><br>
    <label for="year">Release Year:</label>
    <input type="text" id="year" name="year"><br>
    <label for="file" >File: </label>
    <input type="file" accept="image/png, image.jpeg" name="file">
    <input type="submit" id="button">
</form>
<script src="/static/add.js"></script>
{% endblock %}