{% extends "layout.html" %}

{% block body %}
        <div class = "container">
            <div class = "row">
        {% for game in games %}
            <div class="col-md-4 col-sm-6 col-12 mb-3">
                <div class="card">
                    <h5>name: {{ game.name  }}</h5>
                    <p>release year: {{ game.year  }}</p>
                    <p>rating: {{ game.rate  }}</p>
                    <image height = 128 src="{{ file_location }}/{{ game.image }}" class="card_img-top"/>
                    <form action="/remove_game/{{ loop.index0 }}" method="POST">
                        <button type="submit" class="delete">Delete</button>
                    </form>
                </div>
            </div>
        {% endfor %}
            </div>
        </div>
{% endblock %}
